@page "/historico"
@using BlazorAppWebAssembly.Shared
@inject HttpClient Http

<PageTitle>Historico</PageTitle>

<h1>Histórico de Atividades dos Seus Bots</h1>

<!--<p>This component demonstrates fetching data from the server.</p>-->
<p>Aqui você pode acompanhar todos os resultados dos seus bots</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Sucesso</th>
                <th>Atividade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureF/@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}
