@page "/"

<PageTitle>Meus Bots</PageTitle>
@if ()
{
    
}
<h1>Bots disponíveis para: Matheus Delmondes</h1>

<p>Aqui você pode visualizar quais os bots estão disponíveis para você</p>
<h3>Alerta Sobre Novos Processos no SEI via Whatsapp</h3>
<section class="container">
        <div id="botAlertaSEI" class="slide-container active">
            <div class="slide">
                <div class="contentproje">
                    <div class="videos">
                        <p>Assista ao vídeo de demonstração do bot</p>
                        <iframe width="750" height="412" src="https://www.youtube.com/embed/P0IjIJKtzoY"
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                    <p class="descricoes">
                        <b>Decrição: </b>um bot desenvolvido para contribuir com os atendimentos via SEI,
                        uma vez que quanto mais rápido um SEI novo for percebido, mais rápido será atendido.
                        Por conseguinte, corrobora com a produtividade e ameniza atrasos e acúmulo de demandas.
                    </p>
                </div>
            </div>
        </div>

        <div id="projetoCrudWFMySql" class="slide-container active">
            <div class="slide">
                <div class="contentproje">
                    <h3>Realiza Tranferências de Bens Móveis</h3>
                    <iframe width="750" height="412" src="https://www.youtube-nocookie.com/embed/bnAzQzBI4fQ" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p><b>Decrição: </b>um bot desenvolvido para desumanizar o processo trabalhoso de fazer tranferências de bens móveis. [...]</p>
                </div>
            </div>
        </div>
</section>


<!--<SurveyPrompt Title="How is Blazor working for you?" />-->
