@page "/"
@using BlazorAppWebAssembly.Client.MyComponents

<PageTitle>Meus Bots</PageTitle>

<h1>Bots disponíveis para: Matheus Delmondes</h1>
<p>Aqui você pode visualizar quais os bots estão disponíveis para você</p>

<section class="container">    
    <GenerateBotButton />
    <CardBotOfTTRs />
</section>
