@page "/"

<PageTitle>Home</PageTitle>
<head>
    <link rel="stylesheet" href="~/css/estiloSlides.css"/>
</head>

<h1>Primeiro Site ASP.NET com BLAZOR - Matheus Delmondes</h1>

<p>Bem-vindo ao meu site</p>

<section class="container">
    <div id="projetoCrudWFMySql" class="slide-container active">        
        <div class="slide" >
            <div class="contentproje">
                <h3>Projeto CrudWF</h3>
                <p>Decrição: </p>
                <a href="" class="btnproj">Saiba mais</a>
            </div>
        </div>
    </div>
    <div id="projetoCrudWFMySql" class="slide-container active">        
        <div class="slide" >
            <div class="contentproje">
                <h3>Projeto CrudWF</h3>
                <p>Decrição: </p>
                <a href="" class="btnproj">Saiba mais</a>
            </div>
        </div>
    </div>
    <div id="projetoCrudWFMySql" class="slide-container active">        
        <div class="slide" >
            <div class="contentproje">
                <h3>Projeto CrudWF</h3>
                <p>Decrição: </p>
                <a href="" class="btnproj">Saiba mais</a>
            </div>
        </div>
    </div>
</section>


<SurveyPrompt Title="How is Blazor working for you?" />
