@page "/meusbots"
@using BlazorAppWebAssembly.Client.MyComponents

<PageTitle>Meus Bots</PageTitle>

<h1>Bots disponíveis para: Matheus Delmondes</h1>
<p>Aqui você pode visualizar quais os bots estão disponíveis para você</p>

<table>
    <tr>
        <td><BotCard imageUrl="https://www.youtube.com/embed/P0IjIJKtzoY" productName="Alerta Sobre Novos Processos SEI via Whatsapp" /></td>
        <td><BotCard imageUrl="https://www.youtube-nocookie.com/embed/bnAzQzBI4fQ" productName="Realiza Tranferências de Bens Móveis" /></td>
    </tr>    
</table>


