@page
@model BlazorAppWebAssembly.Server.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Erro</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Erro.</h1>
            <h2 class="text-danger">Um erro ocorreu enquanto tentava processar essa requisição.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>ID da Requisição:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Modo de Desenvolvimento</h3>
            <p>
                Alternando para o modo <strong>Desenvolvimento</strong> ambiente de histórico de requisições.
            </p>
            <p>
                <strong>O ambiente de Desenvolvimento não pode ser disponibilizado para a aplicação que está rodando no momento</strong>
                Isso pode resultar em exibição de conteúdos sensíveis para o usuário final.
                Para debug local habilite o modo <strong>Desenvolvimento</strong> <strong>ASPNETCORE_ENVIRONMENT</strong> ambiente muda para <strong>Desenvolmineto</strong>
                e reinicia o app.
            </p>
        </div>
    </div>
</body>

</html>
