@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.youtube.com/watch?v=4pvQRpA15q4" target="_blank">Precisa de ajuda?</a>
            <a href="/" target="_self">Sair desta sessão</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
